@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Courgette&family=DM+Serif+Display:ital@0;1&family=Mystery+Quest&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --text-color: rgba(0, 0, 0, 0.586);
    --background-color: rgb(239, 241, 255);
    --border-color: #CCC;
    --border-color-focus: rgba(11, 0, 128, 0.664);
    --shadow-color: #aaaa;
    --button-color: rgb(4, 67, 123);
    --button-color-hover: rgba(4, 67, 123, 0.797);
    --button-color-active: rgba(4, 67, 123, 0.616);
}

body {
    margin: 20px;
    /* min-height: 600px; */
    color: var(--text-color);
    background: var(--background-color);
}

header h1 {
    display: flex;
    justify-content: center;
}

#loadingProduct {
    display: none;
}

hr{
    margin: 20px 0;
    border: 2px solid var(--text-color)
}